C:\Users\wryde\Documents\BalloonFightUnity\Temp
C:\Users\wryde\Documents\BalloonFightUnity\Library
C:\Users\wryde\Documents\BalloonFightUnity\Logs
*.log
Temp/UnityLockfile
C:\Users\wryde\Documents\BalloonFightUnity\Library
*.csproj
.vs/BalloonFightUnity/v15/.suo
Library/assetDatabase3
Library/metadata/0c/0ce6ad3392f9b5841b3205a44f1c6f24
*.info
Library/metadata/44/4448193fa41c11048b4cd03b7a37566b
Library/metadata/3f/3f3cdd64d543c2f44b5e3c9e58e7c320
Library/metadata/23/2326cb3cc5e3226439320073261ab8c1
Library/assetDatabase3
Library/CurrentLayout.dwlt
*.txt
Library/metadata/47/47f67b0ef3965de43ac8bdeaba13e730
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/54/54ca8b2012b4c8e499603a6c724f77d9
Library/metadata/7d/7d76989b1d8781246a481af7991e0b51
Library/metadata/b5/b55e0ac06e2363e4f8f7af85ad79391b
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/metadata/71/7176591b33c6ef44eb99caeec183ff9d
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/BuiltinAssemblies.stamp
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/SceneView/da3709-mainStage.json
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/SceneView/da3709-mainStage.json
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/SceneView/da3709-mainStage.json
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/SceneView/da3709-mainStage.json
*.dwlt
*.txt
*.dll
*.dll
*.pdb
*.log
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/SceneView/da3709-mainStage.json
*.txt
Library/assetDatabase3
Library/CurrentLayout.dwlt
Library/LastSceneManagerSetup.txt
Library/metadata/6d/6db96610fc421214f96631b5e02cf6e7
Library/metadata/82/825e8087b724d8149a1bc54f6cafca15
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/ScriptAssemblies/Unity.Analytics.DataPrivacy.dll
Library/ScriptAssemblies/Unity.CollabProxy.Editor.dll
Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll
Library/ScriptAssemblies/Unity.TextMeshPro.dll
Library/ScriptAssemblies/Unity.TextMeshPro.Editor.dll
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/SceneView/da3709-mainStage.json
.vs/BalloonFightUnity/v15/.suo
